.board {
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid #3a3a3c;
    border-bottom: 1px solid #3a3a3c;
    height: 350px;
    -ms-overflow-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(70, 65, 65); 
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 8px;
}