.Header {
    text-align: center;
    padding: 3px 16px;
    border-bottom: 1px solid #3a3a3c;
    font-size: 32px;
    font-weight: bold;
    font-family: "Snell Roundhand", cursive;
}

#headerLink {
    text-decoration: none;
    color: white;
}

#headerLink:hover {
    color: grey;
}

