.HomePage {
    min-width: 320px;

}

.nameBox {
    margin: 50px 50px 0px 50px;
    
}

.toLobby {
    text-decoration: none;
}

.lobbyButton {
    margin: 50px 15px 50px 15px;
}

#joinLobby {
    margin-bottom: 0px;
}


.input {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.inputBar {
    text-align: center;
    font-size: 25px;
    width: 80%;
    max-width: 200px;
    height: 50px;
    background-color: #121213;
    border: 2px solid #3a3a3c;
    color: white;
}

#nameInputBar {
    text-transform: uppercase;
}

#codeInputBar {
    max-width: 400px;
}

.inputBar:focus {
    outline: 1px solid white;
    background-color: #3a3a3c;
}

.inputBar:hover {
    background-color: #3a3a3c;
}

