.keyboard {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
}

.keyboard-row-middle {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: 30px;

}

.keyboard button {
    border: 0;
    padding: 0;
    margin: 10px 6px 0 0;
    width: 45px;
    height: 60px;
    min-width: 25px;
    border-radius: 4px;
    color: white;
    background-color: #818384;
    font-weight: bold;
    user-select: none;
}

.keyboard .action {
    width: 60px;
    min-width: 45px;
}

.keyboard button:active {
    border-style: outset;
}

@media screen and (max-width: 450px) {
    .keyboard .action {
        font-size: 70%;
    }
}

