.lobbyPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-title {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid gray;
}

.settingsForm {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.startButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.startButton {
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.game-settings {
    width: 70%;
    min-width: 250px;
    max-width: 500px;
    background-color: #3a3a3c;
    color: rgb(231, 223, 223);
    font-weight: bold;
    margin: 20px;
}

.playersContainer {
    width: 90%;
    margin: 30px;
}

#sharableLink {
    word-wrap: break-word;
    font-weight: 500;
}


@media screen and (min-width: 800px) {
    .lobbyPage {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .game-settings {
        width: 30%
    }

    .playersContainer {
        width: 60%;
    }
}

