.notificationContainer {
    display: flex;
    justify-content:  center;
}

.notification {
    margin-top: 25px;
    border-radius: 5px;
    color: black;
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 25px;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
